<div class="container">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" routerLink="/bar-chart">Bar Chart</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/doughnut-chart">Doughnut Chart</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/radar-chart">Radar Chart</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/pie-chart">Pie Chart</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/line-chart">Line Chart</a>
    </li>
  </ul>

  <div>

    <div class="container">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" routerLink="/D3Bar-chart">D3-Bar Chart</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/D3Circle-chart">D3-Scatter Chart</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="/D3Spider-chart">D3-Radar Chart</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/D3Pai-chart">D3-Pie Chart</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="/D3Line-chart">D3-Line Chart</a>
        </li> -->
      </ul>
    
      <div>
    <router-outlet></router-outlet>
  </div>
</div>


